
<div class="bg-white">
  <div class="white-container-fluid">
    <div class="row">
      <div class="col-lg-12" style="background-color: #FFFFFF"></div>

      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" href="#">
            <img src="https://www.amaysim.com.au/my-account/activate">Activate SIM</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
      </ul>

    </div>
  </div>
</div>

<div class="bg-orange">
  <div class="orange-container-fluid">
    <div class="row">
      <div class="col-lg-12" style="background-color: #FF5500"></div>
        <img src="https://www.w3.org/2000/svg" alt="amaysim">

    </div>
  </div>
</div>

<div class="bg-purple">
  <div class="purple-container-fluid">
    <div class="row">
      <div class="col-lg-12" style="background-color: #FF5500"></div>
        <img src="https://www.amaysim.com.au/sites/default/files/styles/retina_2x/public/2017-08/Header_Image-nbn-com-2.png?itok=cnLdQHJt"
        alt="house">

    </div>
  </div>
</div>
